<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Pokedex</h1>
    <button onclick="location.href='/novoPokemon'">Cadastrar Pokemon</button>
    <button>Cadastrar Treinador</button>
  </body>
</html>
